<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name= "{{m_name}}" content= "{{m_content}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/core-style.css') }}" >


  </head>
  <body>

  </body>
</html>

<section style="min-height: 400px;">

  <header class="container-fluid px-0 pt-3 sticky-top">

      <nav class="row">
        <div class="container">
          <div class="row mt-2">
            <div class="col-6 col-md-9 position-relative">
              <a href="{{url_for('home')}}"><img class="main-logo" src="{{ url_for('static', filename='image/logo.png') }}"></a>
              <span class="d-none d-md-inline-block slogan text-main font-weight-light pl-4" style="position:absolute;bottom:0;">local market from local farmers</span>
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-end">
              <div class="d-md-none px-3">
                <a href="{{ url_for('cart') }}"><img src="{{url_for('static', filename='image/core-img/add-to-cart.png')}}" class="mt-1 cart-icon"><span class="align-bottom">()</span></a>
              </div>
              <div class="d-md-none" id="hamburger" onclick="toggle()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="float-right d-none d-md-inline align-items-end">
                <a href="{{ url_for('cart') }}"><img src="{{url_for('static', filename='image/core-img/add-to-cart.png')}}" class="mt-2 cart-icon"><span class="align-bottom">()</span></a>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="nav-menu col-12 d-none d-md-block">
              <ul class="pl-0">
                <li class="d-inline">
                  <a href="{{url_for('home')}}">หน้าหลัก</a>
                </li>
                <li class="d-inline">
                  <a href="{{ url_for('tracking' )}}">ติดตามสินค้า</a>
                </li>
                <li class="d-inline">
                  <a href="{{ url_for('aboutus' )}}">เกี่ยวกับเรา</a>
                </li>
                <li class="d-none">
                  <a href="{{url_for('articles')}}">บทความ</a>
                </li>
                <li class="d-inline dropdown">
                  <a href="{{url_for('shop')}}">สินค้า</a>
                </li>
                <li class="d-none dropdown">
                  <a class="dropdown-toggle" href="#" role="button" id="recipes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">สูตรอาหาร</a>
                  <div class="dropdown-menu" style="top: 1rem;" aria-labelledby="recipes">
                    <a class="dropdown-item" href="#">ตัวอย่างสูตร 1</a>
                    <a class="dropdown-item" href="#">ตัวอย่างสูตร 2</a>
                    <a class="dropdown-item" href="#">ตัวอย่างสูตร 3</a>
                    <a class="dropdown-item" href="#">ตัวอย่างสูตร 4</a>
                    <a class="dropdown-item" href="#">ตัวอย่างสูตร 5</a>
                  </div>
                </li>
                <li class="d-inline">
                  <a href="{{url_for('shop', filter = 'kids')}}">โซนเด็ก</a>
                </li>
                <li class="d-inline">
                  <a class="text-bright" href="#">โปรโมชัน</a>
                </li>
                {% if current_user.is_authenticated and current_user.role == 'Seller' %}
                <li class="d-inline">
                  <a class="highlight bg-lightblue px-4" href="{{ url_for('dashboard', brand=current_user.username)}}">แดชบอร์ด</a>
                </li>
                {% elif current_user.is_authenticated and current_user.role == 'admin' %}
                <li class="d-inline">
                  <a class="highlight bg-lightblue px-4" class="highlight" href="{{url_for('manage')}}">แอดมิน</a>
                </li>
                {% else %}
                <li class="d-inline">
                  <a class="highlight bg-lightblue px-4" href="{{url_for('register')}}">ลงขาย</a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated and current_user.role == 'Seller' %}
                <li class="d-inline">
                  <a class="highlight bg-lightblue px-4" href="{{ url_for('logout')}}">ออกจากระบบ</a>
                </li>
                {% elif current_user.is_authenticated and current_user.role == 'admin' %}
                <li class="d-inline">
                  <a class="highlight bg-lightblue px-4" href="{{ url_for('logout')}}">ออกจากระบบ</a>
                </li>
                {% else%}
                <li class="d-inline">
                  <a class="highlight bg-lightblue px-4" href="{{ url_for('login')}}">เข้าสู่ระบบ</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>

  </header>

  <div class="mobile-nav d-md-none col-6 pl-0 pr-1" id ="sidemenu">

    <div class="mobile-content pb-2">
      <div class="mobile social-info d-flex my-2">
          <a href="https://fb.me/farmstory.co" target="_blank"><img class="social ml-0" src="{{url_for('static', filename='image/icon/facebook.png')}}" ></a>
          <a href="https://lin.ee/14INE6FU3" target="_blank"><img class="social ml-3" src="{{url_for('static', filename='image/icon/line.png')}}"></a>
      </div>

      <ul>
        <li class="py-2"><a href="{{ url_for('home') }}">หน้าหลัก</a></li>
        <li class="py-2"><a href="{{ url_for('shop') }}">สินค้า</a></li>
        <li class="py-2"><a href="{{ url_for('articles') }}">บทความ</a></li>
        <li class="py-2"><a href="{{ url_for('tracking') }}">ติดตามสินค้า</a></li>
      </ul>

      <div class="mobile my-2">
        <a class="mobile-button text-white" href="{{url_for('register')}}">ลงขาย</a>
      </div>

      <div class="mobile my-2">
        <a class="mobile-button text-white" href="{{url_for('login')}}">เข้าสู่ระบบ</a>
      </div>

      <div class="mobile mt-2">
        <a href="{{ url_for('cart') }}"><img src="{{url_for('static', filename='image/core-img/add-to-cart.png')}}" class="mt-2 cart-icon"><span class="align-bottom">()</span></a>
      </div>
    </div>
  </div>

  <div class="container" style="min-height: 500px;">
    <div class="row mt-5">
      <div class="col-12 col-sm-8">
        <h6>ไม่พบหน้าที่คุณกำลังค้นหา</h6>
      </div>
      <div class="col-12 col-sm-4">
        <h4><a class="text-blue" href="{{url_for('home')}}">www.farmstory.com</a></h4>
      </div>
    </div>



  </div>


  <footer class="footer-area clearfix pb-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5 mt-4">
          <h5 class="text-main">FARMSTORY</h5>
          <ul class="px-0">
            <li><a class="text-main font-weight-light" href="{{url_for('aboutus')}}">เกี่ยวกับเรา</a></li>
            <li><a class="d-none text-main font-weight-light" href="{{ url_for('view') }}">ร้านค้าทั้งหมด</a></li>
            <li><a class="text-main font-weight-light" href="{{url_for('howtoaddproduct')}}">วิธีใช้งานระบบ</a></li>
            <li><a class="text-main font-weight-light" href="{{url_for('tracking')}}">ติดตามสินค้า</a></li>
          </ul>
        </div>
        <div class="col-7 mt-4">
          <img class="main-logo" src="{{ url_for('static', filename='image/logo.png') }}">
          <h6 class="slogan mt-2 text-main">local market from local farmers</h6>
          <h5 class="mt-2 text-main">ติดต่อ</h5>
          <ul class="px-0">
            <p class ="text-main mb-0">admin@onedaystory.com </p>
            <p class ="text-main">เบอร์: 0814219606</p>
          </ul>
        </div>
        <div class="col-9">
          <h5 class="text-main">ติดตาม</h5>
          <ul class="px-0 icon justify-content-start" style="line-height: 40px;">
            <li class="d-inline font-weight-light mr-4"><a class="white" href="https://fb.me/farmstory.co" target="_blank"><img src="{{url_for('static', filename='image/icon/face-50.png')}}", style="width: 36px;"></a></li>
            <li class="d-inline font-weight-light mr-4"><a class="white" href="https://lin.ee/14INE6FU3" target="_blank"><img src="{{url_for('static', filename='image/icon/line-50.png')}}", style="width: 36px;"></a></li>
            <li class="d-none font-weight-light mr-4"><a class="white" href="#"><img src="{{url_for('static', filename='image/icon/instagram-50.png')}}", style="width: 36px;"></a></li>
          </ul>
        </div>
      </div>

    </div>
  </footer>

</section>
