{% extends "layout.html" %}
{% block content %}

<section class="mb-200">
  <div class="container my-100">
    <div class="row"">
      <div class="col-12 my-3">
        <h5 class="title">เกี่ยวกับเรา</h5>
      </div>
      <div class="col-12">
        <div class="text-center bg-lightgrey py-4">
          <p class = "font-italic px-5">“…กสิกรรมและเกษตรกรรมเป็นเรื่องสำคัญมาก ท่านทั้งหลายจะต้องช่วยกันค้นคว้าหาความรู้และความชำนาญให้กว้างขวางยิ่งขึ้นเสมอ และพยายามส่งเสริมเผยแพร่ความรู้ที่ได้ศึกษามาแก่พี่น้องกสิกร และเกษตรกร ให้ได้ทราบถึงวิธีปฏิบัติอันถูกต้องตามหลักวิชาอีกด้วย จึงจะเกิดประโยชน์แก่สังคมในด้านนี้ และเป็นผลดีแก่ประเทศชาติสืบไป…”</p>
          <h6>(คัดตัดตอนจากพระบรมราโชวาท ในพิธีพระราชทานปริญญาบัตรและอนุปริญญาบัตรของมหาวิทยาลัยเกษตรศาสตร์ วันที่ ๑๙ กรกฎาคม ๒๕๐๕)</h6>
        </div>

        <div class="text-center mt-5">
          <p>ผมไม่ได้มีความรู้เรื่องเกษตรกรรม แต่ผมขอสร้างแพลทฟอร์มนี้ขึ้นมาเพื่อเกษตกรไทย ผมหวังว่าเวปไซท์นี้จะเป็นมากกว่าตลาดสำหนับขายของ
            ผมมุ่งหวังที่จะให้คำปรึกษาด้านการตลาด การออกแบบแพกเกจสินค้า,ลงรูปสินค้า เพื่อพัฒนาแบรนด์สินค้าของเกษตกรไทยให้สามารถส่งขายได้ยังต่างประเทศ</p>
          <p>รวมถึงผมอยากให้เวปไซท์แห่งนี้เป็นแหล่งข้อมูลความรู้จากท่านเกษตกรที่มีความสามารถจะแบ่งปันความรู้
            เพื่อเกษตรกรท่านอื่นๆ ที่อาจจะสามารถนำความรู้นั้นไปใช้ให้เกิดประโยชน์ หากท่านสนใจที่จะมาร่วมกับเรา เพื่อสร้างสังคมเกษตรที่แข็งแกร่ง เพื่อพัฒนาผลผลิต หรือเพื่อพัฒนาแบรนด์สินค้าของท่านเอง
            ขอเชิญท่านมาร่วมกับเรา เป็นส่วนหนึ่งของการเปลี่ยนแปลง ผมหวังว่าเวปไซท์แห่งนี้จะเป็นประโยชน์กับทุกคน</p>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock %}
