{% extends"layout.html" %}
{% block content %}

<section>
  <div class="container articles mb-5">

    <div class="row mt-5 mb-3">
      <div class="col-12">
        <div class="title">
          <h4>บทความ</h4>
        </div>
      </div>
    </div>

    <div class="row ">
      {% for article in articles %}
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <a href="{{url_for('articles',filter=article.id)}}">
          <img class="img-fluid mb-3" src="{{ image_stored+article.image1 }}" alt="{{article.title}}+'.jpg'">
          <h6 class="font-weight-bold">{{article.title}}</h6>
          <p class="d-none d-sm-block">{{article.sub_title}}</p>
        </a>
      </div>
      {% endfor %}


    </div>
  </div>

</section>
{% endblock %}
