{% extends"layout.html" %}
{% block content %}

<section>
  <div class="container">
    <div class="row filter">
      <div class="col-12">
        <span>Home</span>
        <span>Brand</span>
        <span>Current Brand</span>
      </div>
    </div>
  </div>


  <div class="container product mt-5">
    <div class="row">
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <img class="img-fluid" src="{{ url_for('static', filename ='products/sample1.jpg' )}}" alt="">
        </div>
        <div class="product-description">
          <a href="{{url_for('view', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>

      </div>

      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <img class="img-fluid" src="{{ url_for('static', filename ='products/sample2.jpg' )}}" alt="">
        </div>
        <div class="product-description">
          <a href="#" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Express Mexicanne Quinua organic 250g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>

      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3">
        <div class="product-image">
          <img class="img-fluid" src="{{ url_for('static', filename ='products/sample3.jpg' )}}" alt="">
        </div>
        <div class="product-description">
          <a href="#" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Express Mexicanne Quinua organic 250g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3">
        <div class="product-image">
          <img class="img-fluid" src="{{ url_for('static', filename ='products/sample4.jpg' )}}" alt="">
        </div>
        <div class="product-description">
          <a href="#" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Express Mexicanne Quinua organic etc and some 250g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3">
        <img class="img-fluid" src="{{ url_for('static', filename ='products/sample4.jpg' )}}" alt="">
        <h6>brand title</h6>
        <h4>product title</h4>
        <p>short product description</p>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3v">
        <img class="img-fluid" src="{{ url_for('static', filename ='products/sample4.jpg' )}}" alt="">
        <h6>brand title</h6>
        <h4>product title</h4>
        <p>short product description</p>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3">
        <img class="img-fluid" src="{{ url_for('static', filename ='products/sample4.jpg' )}}" alt="">
        <h6>brand title</h6>
        <h4>product title</h4>
        <p>short product description</p>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3">
        <img class="img-fluid" src="{{ url_for('static', filename ='products/sample4.jpg' )}}" alt="">
        <h6>brand title</h6>
        <h4>product title</h4>
        <p>short product description</p>
      </div>
    </div>
  </div>


</section>
{% endblock %}
