{% extends"layout.html" %}
{% block content %}

<section>
  <div class="container banner mb-5">
    <div class="row">
      <div class="d-none d-md-block col-12">
        <img class="img-fluid" src="{{ url_for('static', filename='image/banner1.jpg')}}">
      </div>
    </div>
  </div>

  <div class="container banner mb-5">
    <div class="row">
      <div class=" col-12 text-center">
        <div class="bg-lightblue p-4">

          <p class="text-blue px-5">เริ่มเป็นส่วนหนึ่งของการเปลี่ยนแปลง แบ่งปันความรู้และร่วม
            เรียนรู้ไปกับเรา เพื่อสร้างสังคมเกษตรที่มีคุณภาพ เพื่อรายได้ของเกษตกรและพัฒนาคุณภาพของสินค้าเกษตร
          </p>
          <h4 class="text-blue">#CHANGES</h4>
          <a href="{{url_for('register')}}"><span class="text-blue btn text-white button">เริ่มเลย</span></a>
        </div>
      </div>
    </div>
  </div>



  <div class="container product mb-5">
    <div class="row mb-3">
      <div class="col-12">
        <div class="title">
          <h4>สินค้า</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <a href="{{url_for('product')}}"><img class="img-fluid" src="{{ url_for('static', filename ='products/sample1.jpg' )}}" alt=""></a>
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <a href="#"><img class="img-fluid" src="{{ url_for('static', filename ='products/sample2.jpg' )}}" alt=""></a>
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <a href="#"><img class="img-fluid" src="{{ url_for('static', filename ='products/sample3.jpg' )}}" alt=""></a>
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <a href="#"><img class="img-fluid" src="{{ url_for('static', filename ='products/sample4.jpg' )}}" alt=""></a>
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <a href="#"><img class="img-fluid" src="{{ url_for('static', filename ='products/sample5.jpg' )}}" alt=""></a>
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <a href="#"><img class="img-fluid" src="{{ url_for('static', filename ='products/sample6.jpg' )}}" alt=""></a>
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <a href="#"><img class="img-fluid" src="{{ url_for('static', filename ='products/sample2.jpg' )}}" alt=""></a>
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <a href="#"><img class="img-fluid" src="{{ url_for('static', filename ='products/sample3.jpg' )}}" alt=""></a>
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>




    </div>
  </div>

  <div class="container articles mb-5">
    <div class="row mb-3">
      <div class="col-12">
        <div class="title">
          <h4>บทความ</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="article-card col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="#">
          <img class="img-fluid mb-3" src="{{ url_for('static', filename ='articles/sample1.jpg' )}}" alt="">
          <h5>article title</h5>
          <p>article short detail info Lorem ipsum dolor sit amet,
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
          </p>
        </a>
      </div>
      <div class="article-card col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="#">
          <img class="img-fluid mb-3" src="{{ url_for('static', filename ='articles/sample2.jpg' )}}" alt="">
          <h5>article title</h5>
          <p>article short detail info Lorem ipsum dolor sit amet,
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
          </p>
        </a>
      </div>
      <div class="article-card col-12 col-sm-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{{ url_for('static', filename ='articles/sample3.jpg' )}}" alt="">
        <h5>article title</h5>
        <p>article short detail info Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
        </p>
      </div>
      <div class="article-card col-12 col-sm-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{{ url_for('static', filename ='articles/sample4.jpg' )}}" alt="">
        <h5>article title</h5>
        <p class="align-baseline">article short detail info Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
        </p>
      </div>
      <div class="article-card col-12 col-sm-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{{ url_for('static', filename ='articles/sample4.jpg' )}}" alt="">
        <a href="#">
        <h5>article title</h5>
        <p>article short detail info Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
        </p>
        </a>
      </div>
      <div class="article-card col-12 col-sm-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{{ url_for('static', filename ='articles/sample3.jpg' )}}" alt="">
        <h5>article title</h5>
        <p>article short detail info Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
        </p>
      </div>
      <div class="article-card col-12 col-sm-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{{ url_for('static', filename ='articles/sample1.jpg' )}}" alt="">
        <h5>article title</h5>
        <p>article short detail info Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
        </p>
      </div>
      <div class="article-card col-12 col-sm-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{{ url_for('static', filename ='articles/sample2.jpg' )}}" alt="">
        <h5>article title</h5>
        <p class="align-baseline">article short detail info Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
        </p>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row mb-3">
      <div class="col-12">
        <div class="title">
          <h4>เรื่องราวของเรา</h4>
        </div>
      </div>
    </div>
    <div class="row position-relative text-center">
      <img class="img-fluid col-12" src="{{ url_for('static', filename ='articles/sample1.jpg' )}}" alt="">
      <p class="overlay-text pt-3 mb-0">article short detail info Lorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad mini
      </p>

    </div>
  </div>



</section>
{% endblock %}
