<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/core-style.css') }}" >

    <title>{{title}}</title>
  </head>
  <body>

    <div class="container-fluid px-0">
      <div class="row notification d-none d-md-block">
        <div class="container">
          <div class="row py-1">
            <div class="col-3">
            </div>
            <div class="col-6 text-center">
              <p class="mb-0 text-white" style="font-size: 0.8rem;">จัดส่งฟรีสำหรับยอดซื้อ 1,000 บาท ต่อร้านค้าขึ้นไป!</p>
            </div>
            <div class="col-3">
            </div>
          </div>
        </div>
      </div>
    </div>

    <header class="container-fluid px-0 pt-3 sticky-top">
        <nav class="row">
          <div class="container">
            <div class="row mt-2">
              <div class="col-9 pl-4 pl-md-3 position-relative">
                <a href="{{url_for('home')}}"><img class="main-logo" src="{{ url_for('static', filename='image/logo.png') }}"></a>
                <span class="d-inline-block slogan text-primary pl-2" style="position:absolute;bottom:0;">SLOGAN THIS IS SLOGAN</span>
              </div>
              <div class="col-3 pr-4 pr-md-3">
                <div class="float-right d-md-none" id="hamburger" onclick="toggle">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <div class="float-right d-none d-md-inline align-items-end">
                  <a href="{{ url_for('cart') }}"><img src="{{url_for('static', filename='image/core-img/add-to-cart.png')}}" class="mt-2 cart-icon"><span class="align-bottom">({{cook.cart.items|length}})</span></a>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="nav-menu col-12 d-none d-md-block">
                <ul class="pl-0">
                  <li class="d-inline">
                    <a href="{{url_for('home')}}">หน้าหลัก</a>
                  </li>
                  <li class="d-inline">
                    <a href="#">เกี่ยวกับเรา</a>
                  </li>
                  <li class="d-inline">
                    <a href="{{url_for('articles')}}">บทความ</a>
                  </li>
                  <li class="d-inline dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="product-category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">สินค้า</a>
                    <div class="dropdown-menu" style="top: 1rem;" aria-labelledby="product-category">
                      <a class="dropdown-item" href="{{url_for('shop', filter = 'grains')}}">ธัญพืช</a>
                      <a class="dropdown-item" href="{{url_for('shop', filter = 'rice')}}">ข้าว</a>
                      <a class="dropdown-item" href="{{url_for('shop', filter = 'vegetables')}}">ผัก</a>
                      <a class="dropdown-item" href="{{url_for('shop', filter = 'drinks')}}">เครื่องดื่ม</a>
                      <a class="dropdown-item" href="{{url_for('shop', filter = 'grains')}}">ชา กาแฟ</a>
                      <a class="dropdown-item" href="{{url_for('shop', filter = 'grains')}}">ชา กาแฟ</a>
                    </div>
                  </li>
                  <li class="d-none dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="recipes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">สูตรอาหาร</a>
                    <div class="dropdown-menu" style="top: 1rem;" aria-labelledby="recipes">
                      <a class="dropdown-item" href="#">ตัวอย่างสูตร 1</a>
                      <a class="dropdown-item" href="#">ตัวอย่างสูตร 2</a>
                      <a class="dropdown-item" href="#">ตัวอย่างสูตร 3</a>
                      <a class="dropdown-item" href="#">ตัวอย่างสูตร 4</a>
                      <a class="dropdown-item" href="#">ตัวอย่างสูตร 5</a>
                    </div>
                  </li>
                  <li class="d-inline">
                    <a class="text-bright" href="#">โซนเด็ก</a>
                  </li>
                  <li class="d-inline">
                    <a class="text-bright" href="#">โปรโมชัน</a>
                  </li>
                  {% if current_user.is_authenticated and current_user.role == 'Seller' %}
                  <li class="d-inline">
                    <a class="highlight bg-lightblue px-4" href="{{ url_for('dashboard', brand=current_user.username)}}">แดชบอร์ด</a>
                  </li>
                  {% elif current_user.is_authenticated and current_user.role == 'admin' %}
                  <li class="d-inline">
                    <a class="highlight bg-lightblue px-4" class="highlight" href="#">แอดมิน</a>
                  </li>
                  {% else %}
                  <li class="d-inline">
                    <a class="highlight bg-lightblue px-4" href="{{url_for('register')}}">ลงขาย</a>
                  </li>
                  {% endif %}
                  {% if current_user.is_authenticated and current_user.role == 'Seller' %}
                  <li class="d-inline">
                    <a class="highlight bg-lightblue px-4" href="{{ url_for('logout')}}">ออกจากระบบ</a>
                  </li>
                  {% elif current_user.is_authenticated and current_user.role == 'admin' %}
                  <li class="d-inline">
                    <a class="highlight bg-lightblue px-4" href="{{ url_for('logout')}}">ออกจากระบบ</a>
                  </li>
                  {% else%}
                  <li class="d-inline">
                    <a class="highlight bg-lightblue px-4" href="{{ url_for('login')}}">เข้าสู่ระบบ</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </nav>

    </header>




    </header>


    {%block content%}
    {%endblock%}

    <footer class="footer-area clearfix">
      <div class="container">
        <div class="row">
          <div class="col-6 d-md-none mt-4">
            <h4 class="white font-weight-light">footer</h4>
            <ul class="px-0">
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
            </ul>
          </div>
          <div class="col-6 d-md mt-4">
            <img class="main-logo" src="{{ url_for('static', filename='image/logo.png') }}">
            <h6 class="slogan mt-2 white">SLOGAN THIS IS SLOGAN</h6>
            <h4 class="mt-4 white font-weight-light">footer</h4>
            <ul class="px-0">
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
              <li><a class="white font-weight-light" href="#">แบรนด์ของเรา</a></li>
            </ul>
          </div>
          <div class="col-9">
            <h4 class="white font-weight-light">Follow us</h4>
            <ul class="px-0 icon">
              <li class="d-inline font-weight-light"><a class="white" href="#">Face</a></li>
              <li class="d-inline font-weight-light"><a class="white" href="#">etc</a></li>
              <li class="d-inline font-weight-light"><a class="white" href="#">etc</a></li>
              <li class="d-inline font-weight-light"><a class="white" href="#">etc</a></li>
            </ul>
          </div>
        </div>

      </div>
    </footer>


    <!-- Google jquery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Bootstrap js -->
  	<script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>

  </body>
</html>
