<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <title></title>
  </head>
  <body>
    <section>
      {%block content%}
      {%endblock%}
    </section>
  </body>
  <footer>
  </footer>
</html>
