{% extends "layout.html" %}
{% block content %}

<section class="mb-5">
  <div class="container my-100">
    <div class="row"">
      <div class="col-12 my-3">
        <h5 class="title">เกี่ยวกับเรา</h5>
      </div>
      <div class="col-12">
        <div class="text-center bg-lightgrey py-4">
          <p>ผมไม่ได้มีความรู้เรื่องเกษตร แต่ผมขอใช้ความรู้ด้านอื่นสร้างแพลทฟอร์มนี้ขึ้นมาเพื่อเกษตกรไทย
            เราไม่ได้มุ่งหวังว่าเวปไซท์แห่งนี้จะเป็นเพียงสถานที่สำหรับโพสขายของ เรายินดีให้คำปรึกษาด้านการตลาด การออกแบบแพกเกจสินค้า การลงสินค้า รวมถึงโอกาสในการพัฒนาสินค้าเกษตรของไทย
            ให้ไปสู่ระดับสากล เพื่อให้สินค้าของคุณขายได้ราคาดีและเกษตรมีรายได้ดีขึ้น รวมถึงเราอยากให้เวปไซท์แห่งนี้เป็นแหล่งข้อมูลความรู้จากท่านเกษตกรที่มีความสามารถจะแบ่งปันความรู้
            เพื่อเพื่อเกษตรท่านอื่นๆ ที่อาจจะสามารถนำความรู้นั้นไปใช้ให้เกิดประโยชน์ หากท่านสนใจที่จะมาร่วมทางเดินกับเรา เพื่อสร้างสังคมเกษตรที่แข็งแกร่ง เพื่อพัฒนาผลผลิตของคนไทย หรือเพื่อพัฒนาสินค้าของท่านเอง
            เราขอเชิญท่านมาร่วมกับเรา เป็นส่วนหนึ่งของการเปลี่ยนแปลง เราหวังว่าเวปไซท์แห่งนี้จะเป็นประโยชน์กับทุกคน</p>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
