{% extends "layout.html" %}
{% block content %}

<section>
  <div class="container my-5">
    <div class="row">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="col-12 col-md-6 mt-5">
        <p class="font-weight-bold">{{ message }}  </p>
        <a class="btn text-white button" href="https://lin.ee/14INE6FU3" target="_blank">FARMSTORY LINE OFFCIAL</a>
        <p>หรือเฟสบุคแชท <a href="https://m.me/farmstory.co"></a>คลิกที่นี่</p>
      </div>
      <div class="col-12 col-md-6 mt-5 text-center">
        <img src="{{url_for('static', filename = 'image/qrcode.png' )}}"  alt="">
        <h6 class="text-blue">LINE QR CODE  </h6>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="col-12">
        <h5 class="title my-5">ติดตามสถานะสินค้า</h5>
      </div>

      <div class="col-12">
        <form method="POST">
        {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-12 mb-3">
                    <h6>{{ form.contact.label(class_="text-muted") }}
                    {{ form.contact(class_="form-control") }}
                    <p class="text-danger">{% for error in form.contact.errors %}{{ error }}{% endfor %}</p>
                </div>
                <div class="col-12 mb-3">
                    <h6>{{ form.reference.label(class_="text-muted") }}
                    {{ form.reference(class_="form-control") }}
                    <p class="text-danger">{% for error in form.reference.errors %}{{ error }}{% endfor %}</p>
                </div>


                <div class="col-12">
                    {{ form.submit(class_="btn btn-primary button") }}
                </div>
                <div class="clearfix d-none d-xl-block mb-200">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>




{% endblock %}
