{% extends "layout.html" %}
{% block content %}

<section>
  <div class="container">
    <div class="row">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="col-12 mt-5">
        <p class="font-weight-bold">{{ message }}</p>
        <a class ="d-block btn text-white button" href="{{request.referrer}}">กลับไปใส่เบอร์โทรศัพท์</a>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="col-12">
        <h5 class="title my-5">ติดตามสถานะสินค้า</h5>
      </div>

      <div class="col-12">
        <form method="POST">
        {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-12 mb-3">
                    <h6>{{ form.contact.label(class_="text-muted") }}
                    {{ form.contact(class_="form-control") }}
                    <p class="text-danger">{% for error in form.contact.errors %}{{ error }}{% endfor %}</p>
                </div>
                <div class="col-12 mb-3">
                    <h6>{{ form.reference.label(class_="text-muted") }}
                    {{ form.reference(class_="form-control") }}
                    <p class="text-danger">{% for error in form.reference.errors %}{{ error }}{% endfor %}</p>
                </div>


                <div class="col-12 mb-3">
                    {{ form.submit(class_="btn btn-primary button") }}
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>




{% endblock %}
