<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/core-style.css') }}" >
	<title></title>

</head>

<section>
	<div class="table-area mt-5">
		{% for cart in order %}
		<table class="w-100 mt-5">
			<caption>Ref: <a href = "{{ url_for('cartref_confirmation', c_id=cart.reference) }}">#{{ cart.reference }}</a> Buyer: {{ cart.contact }} By Date: {{ cart.date_expire }}</caption>
			<thead>
				<th>ชื่อสินค้า</th>
				<th>ราคา</th>
				<th>จำนวน</th>
				<th>ราคารวม</th>
			</thead>
			<tbody>
			{% for item in cart.items %}
				<tr>
					<td>{{item.product}}</td>
					<td>{{ "฿ {:,.2f}".format((item.price|int)/item.quantity) }}</td>
					<td>{{item.quantity}}</td>
					<td>{{ "฿ {:,.2f}".format(item.price|int) }}</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td>ราคารวม: {{ "฿ {:,.2f}".format(cart.totalprice|int) }}</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		<div class="break"></div>
		{% if cart.confirm_address=='y' %}
		<div class="norm">
			<h4>ที่อยู่จัดส่ง</h4>
			<h5>ชื้อผู้รับ: {{cart.shippingaddress.firstname }} {{cart.shippingaddress.lastname }}</h5>
			<h5>เบอร์ติดต่อ: {{ cart.shippingaddress.contact }}</h5>
			<h5>
				<span>บ้านเลขที่: {{ cart.shippingaddress.homeaddress }}</span>
				<span>หมู่บ้าน คอนโด: {{cart.shippingaddress.housename }} </span>
			</h5>
			<h5>
				<span>ซอย: {{cart.shippingaddress.sub_street }} </span>
				<span>ถนน: {{cart.shippingaddress.street }} </span>
			</h5>
			<h5>
				<span>แขวง/ตำบล: {{cart.shippingaddress.subdistrict }} </span>
				<span>เขต/อำเภอ: {{cart.shippingaddress.district }} </span>
			</h5>
			<h5>
				<span>จังหวัด: {{cart.shippingaddress.province }} </span>
				<span>รหัรหัสไปรษณีย์: {{cart.shippingaddress.postcode }} </span>
			</h5>
			<h5>
				<span>ประเทศ: {{cart.shippingaddress.country }} </span>
			</h5>
		</div>
		{% else %}
		<div class="norm">
			<h4>ยังไม่มีที่อยู่จัดส่ง</h4>
		</div>
		{% endif %}
		<div class="break"></div>
		{% endfor %}
	</div>
</section>
