{% extends"layout.html" %}
{% block content %}

<section>
  <div class="container">
    <div class="row filter">
      <div class="col-12">
        <nav>
            <ol class="breadcrumb px-0">
                <li class="breadcrumb-item"><a href="{{url_for('home')}}">หน้าหลัก</a></li>
                <li class="breadcrumb-item"><a href="#">ร้านค้า</a></li>
            </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="container product mt-5">
    <div class="row">

    </div>
  </div>

  

</section>
{% endblock %}
