{% extends"layout.html" %}
{% block content %}

<section>
  <div class="container">
    <div class="row filter">
      <div class="col-12">
        <nav>
            <ol class="breadcrumb px-0">
                <li class="breadcrumb-item"><a href="{{url_for('home')}}">หน้าหลัก</a></li>
                <li class="breadcrumb-item"><a href="#">แบรนด์</a></li>
                <li class="breadcrumb-item active"><a href="#">หน้าปัจจุบัน</a></li>
            </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="container product mt-5">
    <div class="row">
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <img class="img-fluid" src="{{ url_for('static', filename ='products/sample1.jpg' )}}" alt="">
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <img class="img-fluid" src="{{ url_for('static', filename ='products/sample2.jpg' )}}" alt="">
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <img class="img-fluid" src="{{ url_for('static', filename ='products/sample3.jpg' )}}" alt="">
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>
      <div class="product-card col-6 col-sm-6 col-md-4 col-lg-3 py-3 position-relative">
        <div class="product-image">
          <img class="img-fluid" src="{{ url_for('static', filename ='products/sample4.jpg' )}}" alt="">
        </div>
        <div class="product-description">
          <a href="{{url_for('dashboard', brand="Current brand")}}" title="" class="brand-tag">Brand example</a>
          <h6><a href="#" class="product-name">Coconut flour organic 500g</a></h6>
        </div>
        <div class="star-ratings mb-2">
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
          <span class="rating"><img src="{{ url_for('static', filename ='image/icon/star.png' )}}" alt=""></span>
        </div>
        <div class="price">
          <h6>19.00 Baht</h6>
        </div>
        <div class="add-cart text-center">
          <button type="button" name="button" class="btn btn-primary main-button">Add to cart</button>
        </div>
      </div>




    </div>
  </div>

  <div class="container brand-story mb-5">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h4>เกี่ยวกับเรา</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <img class="img-fluid" src="{{ url_for('static', filename='image/banner1.jpg')}}">
        <p>article short detail info Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
        </p>
      </div>
    </div>
  </div>


</section>
{% endblock %}
