/* color */
/* black #0c1019 */
/*yellow #f1bc52*/
/* light background f0f7f4*/
/* blue green #ebf2ef*/

/* main 03444a*/
/* blue 00a8a8 */

@import url(../css/bootstrap.min.css);
@import url(../css/font-awesome.min.css);

@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../fonts/helveticaneue_medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneue_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Prompt-Regular';
  src: url("../fonts/Prompt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Prompt-Medium';
  src: url("../fonts/Prompt-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Prompt-Light';
  src: url("../fonts/Prompt-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }


/* :: 2.0 Import All CSS */
/* :: 3.0 Base CSS */

body {
  font-family: "Prompt-Regular";
  box-sizing: border-box;
}

.notification{
  background-color: #03444a;
}

.notification a{
  color: white;
  font-size: 0.8rem;
}
.notification a:hover{
  color: #f1bc52;
  text-decoration: none;
}

a, span, h1, h2, h3, h4, h5, h6, p{
  color: #0c1019;
}
h4{
  font-family: 'Prompt-Medium'
}
p{
  font-family:"Prompt-Light";
}
a:hover{
  color: #03444a;
}
img.main-logo{
  max-width: 110px;
}


#hamburger .line{
  width: 35px;
  height: 4px;
  background-color: #0c1019;
  margin: 6px 0;
}
.cart-icon{
  width: 28px;
}

.nav-menu ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}
.nav-menu ul li{
    display: block;
}

.highlight{
  color: #03444a;
}
.bottom{
  bottom:0px;
}

.sticky-top{
  border-bottom: 1px solid #0c1019;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.slogan{
  font-size: 0.8rem;
}

.dropdown-menu{
  top: 1rem !important;
  left: -1rem !important;
}


.title{
  border-bottom: 1px solid #0c1019;
}

/* product card text style */
a.brand-tag{
  font-family: "Prompt-Light";
  font-size: 0.8rem;
  font-weight: 200;
  color: #03444a;
}

a.product-name{
  font-size: 0.9rem;
}

/* position tag */
.product-description{
  height: 80px;
}

.star-ratings img{
  max-width: 9px;
}

.main-button{
  width: 175px;
  height: 40px;
  padding: 0px;
  font-size: 0.8rem;
  background-color: #00a8a8;
  border: none;
  border-radius: 0;
}
.main-button:hover{
  background-color: #03444a;
  color: #f1bc52;
}


.footer-area{
  background-color: #00a8a8;
  bottom: 0;
}
ul.icon{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.footer-area li{
  list-style-type: none;
  padding: 0.25rem 0;
}
.white{
  color: white;
}

.overlay-text{
  background-color: black;
  color: white;
  opacity: 0.6;
  width: 30%;
  height: 100%;
  position: absolute;
  right: 1rem;
  top: 0;
  text-align: center;
}
.overlay-text:hover{
  opacity: 1;
  text-decoration: underline;
}

/* Shop page */
.breadcrumb{
  background-color: transparent;
}
.breadcrumb-item{
  font-size: 0.8rem;
  text-transform: uppercase;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before{
  content: "|";
}

.discount-tag{
  background-color: #00a8a8;
  color: white;
  font-size: 0.75rem;
  padding: 0.1rem 0.2rem;
}
.product-details{
  padding: 0 30px;
}
.product-details h6{
  font-family: 'Prompt-Medium';
}
.product-details p{
  font-size: 0.8rem;
}
.text-main{
  color: #03444a;
}
.text-blue{
  color: #00a8a8;
}
.text-main{
  color: #03444a;
}

.bg-lightblue{
  background-color: #f0f7f4;
}


.hash-tag ul{
  list-style: none;
  width: 100%;
}

.hash-tag ul li {
  display: inline-block;
  background-color: #f0f7f4;
  padding: 0.4rem 1.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 60px;
  margin-bottom: 0.5rem;
  font-family: 'Prompt-Light'
}
.hash-tag ul li a{
  color: #00a8a8;
}

.first-slide{
  justify-content: space-between;
}
.first-slide img{
  max-height: 200px;
}

/* media screen */

@media (max-width: 576px){
  .main-button{
    width: 150px;
  }
  img.main-logo{
    max-width: 100px;
  }
  .slogan{
    font-size: 0.6rem;
  }
}

@media (min-width: 576px){
  .carousel-indicators{
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    position: static;
    justify-content: center;
  }
  .carousel-indicators li{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 3px;
    background-position: center;
  }
}


@media (min-width: 768px) {
  .slogan{
    font-size: 1rem;
  }
  .product-description{
    height: 70px;
  }
  .main-button{
    width: 180px;
  }
  img.main-logo{
    max-width: 120px;
  }
  .star-ratings img{
    max-width: 12px;
  }
  img.main-product-image{
    max-width: 350px;
    margin: auto;
  }
  ..carousel-indicators li{
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 992px){
  .main-button{
    width: 200px;
  }
  img.main-product-image{
    max-width: 450px;
    margin: auto;
  }
  .carousel-inner .carousel-item img{
    max-width: 450px;
    max-height: 450px;
    margin: auto;
  }
  .carousel-indicators{
    max-width: 450px;
    margin: auto;
  }
}
