.notification{
  background-color: #3C4B5C;
  line-height: 1;
}

.notification a{
  color: white;
  font-size: 0.8rem;
}
.notification a:hover{
  color: #A0DFDF;
}

a{
  color: #5c5d60;
}

img.main-logo{
  max-width: 115px;
}

@media (min-width: 576px) {
  img.main-logo{
    max-width: 125px;
  }
}
@media (min-width: 768px) {
  img.main-logo{
    max-width: 125px;
  }
}

#hamburger .line{
  width: 35px;
  height: 4px;
  background-color: #5c5d60;
  margin: 6px 0;
}

.nav-menu ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}
.nav-menu ul li{
    display: block;
}

.highlight{
  color: #ef4065;
}

.bottom{
  bottom:0px;
}
