/* color */
/* blue #1a2a43 */
/* black #0c1019 */
/*yellow #dca510*/
/*light blue #1e3957 */
/* light grey #cdcdc3*/

.notification{
  background-color: #1a2a43;
  line-height: 1;
}

.notification a{
  color: white;
  font-size: 0.8rem;
}
.notification a:hover{
  color: #dca510;
  text-decoration: none;
}

a, span, h1, h2, h3, h4, h5, h6, p{
  color: #0c1019;
}
a:hover{
  color: #1e3957;
}
img.main-logo{
  max-width: 110px;
}


#hamburger .line{
  width: 35px;
  height: 4px;
  background-color: #1a2a43;
  margin: 6px 0;
}


.nav-menu ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}
.nav-menu ul li{
    display: block;
}

.highlight{
  color: #1e3957;
}
.bottom{
  bottom:0px;
}

.sticky-top{
  border-bottom: 1px solid #0c1019;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.slogan{
  font-size: 0.8rem;
}

.dropdown-menu{
  top: 1rem !important;
  left: -1rem !important;
}


.title{
  border-bottom: 1px solid #0c1019;
}

/* product card text style */
.product-card a.brand-tag{
  font-size: 0.75rem;
}
.product-card a.product-name{
  font-size: 0.9rem;
}

/* position tag */
.product-description{
  height: 80px;
}

.star-ratings img{
  max-width: 12px;
}

.main-button{
  width: 175px;
  height: 40px;
  padding: 0px;
  font-size: 0.8rem;
  background-color: #223a60;
  border: none;
}
.main-button:hover{
  background-color: #1a2a43;
  color: #dca510;
}

.footer-area{
  background-color: #1a2a43;
}
ul.icon{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.footer-area li{
  list-style-type: none;
  padding: 0.25rem 0;
}
.white{
  color: white;
}
/* media screen */

@media (max-width: 576px){
  .main-button{
    width: 150px;
  }
  img.main-logo{
    max-width: 100px;
  }
  .slogan{
    font-size: 0.6rem;
  }
}



@media (min-width: 768px) {
  .slogan{
    font-size: 1rem;
  }
  .product-description{
    height: 70px;
  }
  .main-button{
    width: 180px;
  }
  img.main-logo{
    max-width: 120px;
  }
}

@media (min-width: 992px){
  .main-button{
    width: 200px;
  }
}
